<body id="page-top" class="landing-page no-skin-config pace-done" data-gr-c-s-loaded="true">
  <div class="pace pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>

  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
      <div class="container">
        <a class="navbar-brand">ГУУЛИН ДӨШ</a>
        <div class="navbar-header page-scroll">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link page-scroll active" href="#page-top">Нүүр</a></li>
            <li><a class="nav-link page-scroll" href="#aboutus">Бидний тухай</a></li>
            <li><a class="nav-link page-scroll" href="#product">Бүтээгдэхүүн</a></li>
            <li><a class="nav-link page-scroll" href="#performance">гүйцэтгэл</a></li>
            <li><a class="nav-link page-scroll" href="#news">Мэдээ мэдээлэл</a></li>
            <li><a class="nav-link page-scroll" href="#workplace">ажлын байр</a></li>
            <li><a class="nav-link page-scroll" href="#contact">Холбоо барих</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="inSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#inSlider" data-slide-to="0" class="active"></li>
      <li data-target="#inSlider" data-slide-to="1" class=""></li>
      <li data-target="#inSlider" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>Бид<br>Монголыг хөгжүүлэх <br>монгол баялгийг бүтээнэ.</h1>
            <p>АЛСЫН ХАРАА:  <br> Үндэсний тэргүүлэгч баялаг бүтээгч байгууллага болно.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="" role="button">төмөр хийц</a>
              <a class="caption-link" href="#" role="button">хөгжилрүү хамтдаа</a>
            </p>
          </div>
          <div class="carousel-image wow zoomIn animated" style="visibility: visible;">
            <%= image_tag "landing/blacksmith.png" %>
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one">
          <%= image_tag "landing/header_top_one.jpg" %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption blank">
            <h1>ЭРХЭМ ЗОРИЛГО <br></h1>
            <p>Бид монгол хүмүүн, монгол баялаг,<br>
               эрүүл аюулгүй ажиллагааг эрхэмлэж,<br>
               хэрэглэгчдийнхээ итгэл найдварт түнш байж,<br>
               Монгол улсынхаа хөгжилд хувь нэмрээ оруулсан<br>
               шилдэг баялаг бүтээгч байгууллага болно.</p>
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two">
          <%= image_tag "landing/header_top_five.png" %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption blank">
            <h1>ҮНЭТ ЗҮЙЛ:<br></h1>
            <p>• Багийн ажиллагаа<br>
               • Бүтээлч сэтгэлгээ<br>
               • Бүтээгдэхүүний чанар<br>
               • Байгууллагын ёс зүй<br>
               • Байнгын аюулгүй ажиллагаа</p>
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two">
          <%= image_tag "landing/landing_top_three.jpg" %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <section id="aboutus" class="container services">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Бидний тухай<br></h1>
        <p>Компанийн тухай</p>
      </div>
    </div>
    <div class="row">
      <p>
        “Гуулин Дөш” ХХК нь анх 2007 онд төмөр хийцийн үйлдвэрлэл чиглэлээр байгуулагдаж, өдгөө 13 жилийн турш<br>
        үйл ажиллагаагаа тасралтгүй явуулж байна. Энэ хугацаанд хувь хүн болон албан байгууллагын захиалгын бүх<br>
        төрлийн төмөр хийцийн ажлыг архитекторын зураг төсөв, тооцоон дээр үндэслэн мэргэжлийн инженер техникийн<br>
        ажилтнуудын ур чадвараар улс орны хөгжил цэцэглэлтэнд хувь нэмрээ оруулж, олон сайхан нэр хүнд бүхий<br>
        ажлуудыг амжилттай хийж гүйцэтгэж ирсэн.<br>
        Бидэнтэй хамтарч  ажилладаг байгууллагууд болон хийж гүйцэтгэсэн ажлууд<br>
        • "Засгийн газрын ордон"-ы 4 талын гүйдэг хаалга<br>
        • "Их тэнгэр" цогцолборын гүйдэг төмөр хаалга<br>
        • "Номин констракшн" ХХК-ийн<br>
        • River Garden,<br>
        • Garden city,<br>
        • Time Square,<br>
        • Casa Da Vinchi,<br>
        • Цэцээ Гүн төслүүд дээр төмөр хийцийн ажлууд<br>
        • "Бридж констракшн" ХХК-ийн сургуулиудын төмөр хийцийн ажлууд болон Эвридэй худалдааны төв-ийн төмөр карказан барилга<br>
        • Оюу толгой<br>
        • Энержи Ресурс ХХК<br>
        • Баян Айраг эксплорейшн ХХК<br>
        • И март худалдааны төв<br>
        • “CU” сүлжээ дэлгүүр<br>
        • Ган гүүр ХХК<br>
        • M-Cи-Эс групп<br>
        • Мobicom corporation<br>
        • Mонголиан Стар Mелшерс гэх мэт<br>
        Манай төмөр хийцийн үйлдвэрлэл нь хоногт 100-1300м2 бүтээгдэхүүн үйлдвэрлэх хүчин чадалтай ба бүх төрлийн энгийн болон<br>
        гоёлын төмөр хаалга, хашаа, хайс, хашлага, цонхны хаалт, гадна тохижилтын бүтээгдэхүүнүүд мөн төмөр деталь хийцүүд хийж гүйцэтгэдэг.<br>
        Манай компани нь архитектор-1, инженер техникийн ажилтан – 4, санхүү,<br>
        захиргааны ажилтан – 5, туслах ажилчин - 5-10 хүний бүрэлдэхүүнтэйгээр үйл ажиллагаагаа явуулж байна.
      </p>
    </div>
  </section>

  <section id="testimonials" class="navy-section " style="margin-top: 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center wow zoomIn animated" style="visibility: visible;">
          <i class="fa fa-comment big-icon"></i>
          <h1>Үйлчлүүлэгчид</h1>
          <div class="testimonials-text">
            <i>Бидэнтэй хамтарч  ажилладаг байгууллагууд</i>
          </div>
          <div class="ibox ">
            <div class="lightBoxGallery">
              <%= image_tag "partner/bayan_airag.jpg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/bridge_construction.jpeg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/cu.png", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/emart.png", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/energy_resource.jpg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/ganguur.jpeg", style: "width: 100px; heigh: 100px;" %><br>
              <%= image_tag "partner/garden_city.png", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/mcs.jpg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/MobiCom logo.jpg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/nomin.jpg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/oyutolgoi.jpg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/river_garden.jpeg", style: "width: 100px; heigh: 100px;" %>
              <%= image_tag "partner/time_square.png", style: "width: 100px; heigh: 100px;" %>
            </div>
          </div>
          <small>
            <strong>13 - жилийн турш</strong>
          </small>
        </div>
      </div>
    </div>
  </section>

  <section class="container features">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Биднийг сонгох шалтгаан<br> <span class="navy">+</span> </h1>
        <p>... </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
        <div class="m-t-lg">
          <h2>Чанар</h2>
          <p>Бид чанар стандартын шаардлага хангасан түүхий эдээр бат бөх, баталгаат хугацаа бүхий бүтээгдэхүүн үйлдвэрлэнэ.</p>
        </div>
        <div class="m-t-lg">
          <h2>Туршлага</h2>
          <p>Бид салбартаа 20-иод жилийн туршлагатай, анхдагч төмөр хийцийн үйлдвэрүүдийн нэг билээ.</p>
        </div>
        <div class="m-t-lg align-content-center">
          <h2>Итгэл найдвар</h2>
          <p>Бид бүтээгдэхүүнээ түргэн шуурхай гүйцэтгэж, таны итгэл найдвартай түнш, хамтрагч байж чадна.</p>
          <p><a class="navy-link" href="#" role="button">... »</a></p>
        </div>
      </div>
      <div class="col-md-6 text-center  wow zoomIn animated" style="visibility: visible;">
        <%= image_tag "landing/blacksmith_dr.jpg", alt: "dashboard", class: "img-fluid" %>
      </div>
      <div class="col-md-3 text-center wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
        <div>
          <i class="fa fa-envelope features-icon"></i>
        </div>
        <div class="m-t-lg">
          <i class="fa fa-google features-icon"></i>
          <h2>Зөвлөгөө</h2>
          <p>Мэргэжлийн инженерийн тооцоолол дээр үндэслэн танд хэрэгтэй зөвлөгөөг өгнө.</p>
        </div>
        <div>
          <i class="fa fa-mobile features-icon"></i>
          <h2>Загвар</h2>
          <p>Мэргэжлийн архитекторын шийдлээр санал болгох загвар дизайн, өнгө будаг бүхий бүтээгдэхүүн.</p>
        </div>
        <div class="m-t-lg">
          <i class="fa fa-bar-chart features-icon"></i>
          <h2>Технологи</h2>
          <p>Орчин үеийн тоног төхөөрөмжөөр мэргэжлийн инженер техникийн ажилтнууд зөвхөн танд зориулсан  бүтээгдэхүүнийг урлана.</p>
          <p><a class="navy-link" href="#" role="button">... »</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="product" class="gray-section team">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Бүтээгдэхүүн</h1>
          <p>бат бөх, баталгаат хугацаатай</p>
        </div>
      </div>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-3 wow fadeInLeft animated">
            <div class="ibox">
              <div class="ibox-content product-box">
                <div class="product-imitation">
                  <% if product.images.attached? %>
                    <% product.images.each do |image| %>
                      <%= image_tag(url_for(image), style: "width:100%; height:100%;") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="product-desc"><span class="product-price"><%= product.price %></span>
                  <a href="" class="product-name"><%= product.name %></a>
                  <div class="small m-t-xs"><%= product.note %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section id="performance">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Гүйцэтгэл</h1>
          <p>хийж гүйцэтгэсэн ажлууд</p>
        </div>
      </div>
      <div class="row features-block">
        <div class="col-lg-12">
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table shoping-cart-table">
                  <tbody>
                  <% @performances.each do |performance| %>
                    <tr>
                      <td width="70%">
                        <div>
                          <% if performance.images.attached? %>
                            <% performance.images.each do |image| %>
                              <%= image_tag(url_for(image), style: "width:100%; height:30em;") %>
                            <% end %>
                          <% end %>
                        </div>
                      </td>
                      <td class="desc" width="30%">
                        <h3>
                          <a href="#" class="text-navy">
                            <%= performance.title %>
                          </a>
                        </h3>
                        <p class="small">
                        </p>
                        <dl class="small m-b-none">
                          <dt><%= performance.period %></dt>
                          <dd><%= performance.subject %></dd>
                        </dl>
                      </td>
                      <td>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="news" class="gray-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Мэдээ мэдээлэл</h1>
          <p>...</p>
        </div>
      </div>
      <div class="new-block row m-t-lg">
        <div class="col-lg-12">
          <div class="tabs-container">
            <div class="tabs-left">
              <ul class="nav nav-tabs">
                <% i = 0 %>
                <% @newses.each do |news| %>
                  <% if i == 0 %>
                    <% active = "active" %>
                  <% end %>
                  <li><a class="nav-link <%= active %>" data-toggle="tab" href="#tab-<%= i %>"> <%= news.title %></a></li>
                  <% i = i + 1 %>
                <% end %>
              </ul>
              <div class="tab-content">
                <% i = 0 %>
                <% @newses.each do |news| %>
                  <% if i == 0 %>
                    <% active = "active" %>
                  <% end %>
                  <div id="tab-<%= i %>" class="tab-pane <%= active %>">
                    <div class="panel-body">
                      <p><strong><%= news.title %></strong></p>
                      <% if news.images.attached? %>
                        <% news.images.each do |image| %>
                          <%= image_tag(url_for(image), class: "img-fluid") %>
                        <% end %>
                      <% end %>
                      <p><%= news.subject %></p>
                    </div>
                  </div>
                  <% i = i + 1 %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      </br>
    </div>
    </div>
  </section>

  <section id="workplace" class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Нээлттэй ажлын байр</h1>
          <br><br><br><br>
          <strong>Та Гуулин Дөш ХХК-д нээлттэй ажлын байрны талаар <br>
             мэдээлэл авах бол people.mobicom.mn хуудас руу шилжинэ үү.</strong>
          <br><br><br><br>
          <%= link_to "АНКЕТ ТАТАЖ АВАХ", "https://www.biznetwork.mn/company/guulin-dush?fbclid=IwAR0RcICOjKHGQ5RPhqQvZo0k2IL6fbPNIEFCskC33JdG5QX6yh-ON8AZ3WU", target: :_blank %>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="gray-section contact">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Бидэнтэй холбогдох</h1>
          <p>хаяг</p>
        </div>
      </div>
      <div class="row m-b-lg justify-content-center">
        <div class="col-lg-3 ">
          <address>
            <strong><span class="navy">Guulin Dush, Inc.</span></strong><br>
              Сонгинохайрхан дүүрэг,<br>
              9-р хороо,<br>
              УБ (Баянхошууны эцэст),<br>
              Сонгинохайрхан дүүрэг ,<br>
              Улаанбаатар хот Mongolia<br>
            <abbr title="Phone">Утас:</abbr> 99106208, 99813884<br>
            <abbr title="Email">И-мэйл:</abbr>  info@guulindush.mn
          </address>
        </div>
        <div class="col-lg-4">
          <p class="text-color">
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a href="mailto:test@email.com" class="btn btn-primary">Бидэнд мэйл илгээх</a>
          <p class="m-t-sm">
            Олон нийтийн сүлжээнд биднийг дагаж байгаад танд баярлалаа
          </p>
          <ul class="list-inline social-icon">
            <li class="list-inline-item"><a href="https://www.facebook.com/GuulinDush.Tumurhiits/?__tn__=%2Cd%2CP-R&eid=ARD5kTGxGetW_7mlPzBri4lkeT1AGOeVZqMZJSSxy8rJOqx6xkNccQydfLDJZjI_bGnJsHabw_p5tFh-" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/guulindush/" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center m-t-lg m-b-lg">
          <p>© 2020 Sagi Sama</p>
        </div>
      </div>
    </div>
  </section>
</body>

<%= javascript_pack_tag 'top/index' %>
<style>
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
</style>