<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Performances List <small>all performances.</small></h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <%= link_to 'New', new_performance_path, class: "btn btn-success btn-facebook btn-outline"%>
          <div class="col-sm-3">
            <div class="input-group">
              <input placeholder="Search" type="text" class="form-control form-control-sm">
              <span class="input-group-append">
          <button type="button" class="btn btn-sm btn-primary">Go!</button>
        </span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Title</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% @performances.each do |performance| %>
              <tr class="footable-even">
                <td><div class="icheckbox_square-green checked" style="position: relative;"><%= performance.title %></div></td>
                <td><small><%= performance.subject %></small></td>
                <td class="footable-visible">
                  <% if performance.active? %>
                    <span class="label label-primary"><%= performance.status %></span>
                  <% else %>
                    <span class="label label-danger"><%= performance.status %></span>
                  <% end %>
                </td>
                <td><small><%= performance.period %></small></td>
                <td><%= link_to 'Show', performance_path(performance), class: "btn btn-info btn-sm btn-outline" %>
                    <%= link_to 'Edit', edit_performance_path(performance), class: "btn btn-warning btn-sm btn-outline" %>
                    <%= link_to 'Delete', performance, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger btn-outline" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
