<!DOCTYPE html>
<html>
  <head>
    <title>DOIronCast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render "layouts/header" %>

  <body class="pace-done">
    <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <%= render "layouts/navigation_bar" %>
      </nav>
      <div id="page-wrapper" class="gray-bg" style="min-height: 980px;">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/facebook_chat" %>
  </body>

  <%= render "layouts/footer" %>
</html>
